
<HEAD>
<TITLE>Computer</TITLE>
<META HTTP-EQUIV="refresh" CONTENT="3;URL=/comp_attack">
</HEAD>


<link rel='stylesheet' type='text/css' href='style.css'/>

  <body>
<center>

<h1>  <%= @game.player_1.name %> vs. <%= @game.player_2.name %> </h1>

<player1sprite>
 <iframe src="http://pldh.net/media/pokemon/gen5/back/059.png" width="50%" height="50%" frameBorder="0" allowFullScreen></iframe><a  </a>
</player1sprite>

<player1HP>
<%= @game.player_1.name%>: <%=@game.player_1.hp%>HP
<%= @game.player_2.name%>: <%=@game.player_2.hp%>HP
</player1HP>
